__pycache__/
*.pyc

# Virtual Environment
.venv/
.env

# Temporary Files
temp/
*.log

# Build and Distribution
build/
dist/
*.spec

# Project specific
assets/proposals/
assets/Gemini_Generated_Image_*.jpg
