%Image::ExifTool::UserDefined = (
    'Image::ExifTool::XMP::Main' => {
        eBirder => {
            SubDirectory => {
                TagTable => 'Image::ExifTool::UserDefined::eBirder',
            },
        },
    },
);

%Image::ExifTool::UserDefined::eBirderIdentificacao = (
    STRUCT_NAME => 'eBirderIdentificacao',
    NAMESPACE => { 'eBirdIdent' => 'http://ibirder.app/ns/id/1.0/' },
    NomeComum      => { },
    NomeCientifico => { },
    NomeIngles     => { },
);

%Image::ExifTool::UserDefined::eBirderTaxonomia = (
    STRUCT_NAME => 'eBirderTaxonomia',
    NAMESPACE => { 'eBirdTax' => 'http://ibirder.app/ns/tax/1.0/' },
    Genero  => { },
    Familia => { },
    Ordem   => { },
    Classe  => { },
);

%Image::ExifTool::UserDefined::eBirderConservacao = (
    STRUCT_NAME => 'eBirderConservacao',
    NAMESPACE => { 'eBirdCons' => 'http://ibirder.app/ns/cons/1.0/' },
    StatusGlobal   => { },
    StatusNacional => { },
    CITES          => { },
);

%Image::ExifTool::UserDefined::eBirderGeografia = (
    STRUCT_NAME => 'eBirderGeografia',
    NAMESPACE => { 'eBirdGeo' => 'http://ibirder.app/ns/geo/1.0/' },
    Bioma           => { },
    Endemismo       => { },
    Municipio       => { },
    Estado          => { },
    Pais            => { },
    CoordenadaLocal => { },
);

%Image::ExifTool::UserDefined::eBirder = (
    GROUPS => { 0 => 'XMP', 1 => 'XMP-eBirder', 2 => 'Image' },
    NAMESPACE => { 'eBirder' => 'http://ibirder.app/ns/1.0/' },
    WRITABLE => 'string',
    
    Identificacao    => { Struct => \%Image::ExifTool::UserDefined::eBirderIdentificacao },
    Taxonomia        => { Struct => \%Image::ExifTool::UserDefined::eBirderTaxonomia },
    Conservacao      => { Struct => \%Image::ExifTool::UserDefined::eBirderConservacao },
    DadosGeograficos => { Struct => \%Image::ExifTool::UserDefined::eBirderGeografia },
);
1; # end
